#head-main {
    width: 100%;
    background: #0077a2;
    height: 200px;
}
.marginrow1{
    margin-top: 3%;
}
.marginrow{
    margin-top: 5%;
}
.margincol{
    margin-top: 2%;
}
.rowalign{
    margin: 0 auto;
    display: block;
}
.selectedVeh, .fareDetails, .paymentDetails, .tripSummary, .routingDetails {
	border-radius: 3px;
	border-color:rgba(153, 153, 153, 0.56);
	border-style:solid;
	border-width:thin !important;
	margin-left: 10px;
	margin-right:10px;
}
.bookMore {
	margin-left:20px;
	margin-right:15px;
	margin-top:15px;
	padding-bottom:10px;
	background-color:#eee;
	border-radius: 3px;
	border-color:rgba(153, 153, 153, 0.56);
	border-style:solid;
	border-width:thin !important;

}

.headbox{
    padding:3px 35px 1px;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
    -webkit-box-shadow: 2px 5px 25px 0px rgba(51,51,51,0.6);
    -moz-box-shadow: 1px 2px 6px 0px rgba(51,51,51,0.6);
    box-shadow: 1px 2px 6px 0px rgba(51,51,51,0.6);
}
.headbox p{
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 500;
    line-height: 35px;
    font-family: Book Antiqua, sans-serif;
}

.fontstyle h4{
    font-family: Book Antiqua, sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
}
.fontstyle span{
    font-family: Book Antiqua, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.imgalign{
    vertical-align: baseline;
}
.marginauto{
    margin: 0 auto;
}
.divider{
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 6px -2px #a3c0ca;
    margin:0 20px;
    padding: 0 0 20px;
	
}
.headingpad{
    padding-left: 35px;
}
.form-control-new {
    font-family: Book Antiqua, sans-serif;
    display: block;
    width: 100%;
    height: 42px;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2786a9;
    background-color:#ffe8e899;
    background-image: none;
    border: 1px solid #c0c0c0;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]::-webkit-input-placeholder {
    color:#999 !important;
    font-weight: 300;
    font-family: Book Antiqua, sans-serif;
}
 
input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #999 !important;
    font-weight: 300;
    font-family: Book Antiqua, sans-serif;
}
 
input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    color:#999 !important;  
    font-weight: 300;
    font-family: Book Antiqua, sans-serif;
}
 
input[type="text"]:-ms-input-placeholder {  
    color: #999 !important; 
    font-weight: 300;
    font-family: Book Antiqua, sans-serif;
}

input.form-control-passengerdetail::-webkit-input-placeholder { 
    color:#9f9f9f !important;  
}
input.form-control-passengerdetail::-moz-placeholder { 
    color: #9f9f9f !important; 
}
input.form-control-passengerdetail:-ms-input-placeholder {
    color: #9f9f9f !important; 
}
input.form-control-passengerdetail:-moz-placeholder { 
    color: #9f9f9f !important; 
}
.textareacol{
    border: 1px solid #bad0e2 !important;
    font-size: 15px !important;
    font-family: Book Antiqua, sans-serif;
    height: 60px !important;
}
.form-control-passengerdetail {
    display: block;
    width: 100%;
    text-align: center;
    height: 38px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2786a9;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-primary {
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-delete {
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 52%;
    margin-left:5px;
}

.btn-success {
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.btn-success:hover{
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success{
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.formarea{
    font-size: 15px !important;
    font-family: Book Antiqua, sans-serif;
    height: 90px !important;
}
.fontbold{
    font-weight: bold !important;
}
.marginbottom{
    margin-bottom: 50px;
}
.form-control-select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-month-year {
    display: block;
    float: left;
    margin-left: 2.5px;
    width: 49%;
    height: 36px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 1px solid #fff;
}
.child{
    font-weight: bold;
    font-family: Book Antiqua, sans-serif;
    font-size: 16px;
}
.tdtotal{
    border-top: 2px solid #0077a2 !important;
    font-size: 24px !important;
}
@media screen and (min-width: 981px) and (max-width: 1100px){
.pdingcol{
    padding: 0px;
}
.headbox p {
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 600;
    line-height: 35px;
    font-family: Book Antiqua, sans-serif;
}
.headingpad {
    padding-left: 25px;
}
.headbox {
    padding: 3px 26px 1px;
}
}
@media screen and (min-width: 768px) and (max-width: 980px){
#head-main {
    width: 100%;
    background: #0077a2;
    height: 165px;
}
.pdingcol{
    padding: 0px;
}
.headbox p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 5px;
    font-weight: 600;
    line-height: 35px;
    font-family: Book Antiqua, sans-serif;
}
.headbox {
    padding: 3px 16px 1px;
}
.headingpad {
    padding-left: 18px;
}
.btn-primary {
    color: #fff;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 12px;
}
.fontstyle h4 {
    font-family: Book Antiqua, sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    font-size: 14px;
}
.fontstyle span {
    font-family: Book Antiqua, sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.form-control-month-year {
    display: block;
    float: left;
    margin-left: 2.5px;
    width: 48%;
    height: 36px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
}
@media screen and (min-width: 280px) and (max-width: 767px){

#head-main {
    width: 100%;
    background: #0077a2;
    height: 140px;
}   
.pdingcol{
    padding: 0px;
}
.marginbtm{
    margin-bottom: 10px !important;
}
.margincol {
    margin-top: 6%;
}
.headingpad {
    padding-left: 10px;
}
.headbox {
    padding: 3px 10px 1px;
    background: rgb(13, 114, 150);
    background: -moz-linear-gradient(top, rgba(13, 114, 150) 32%, rgba(59, 150, 184, 0.98) 69%);
    background: -webkit-linear-gradient(top, rgba(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    background: linear-gradient(to bottom, rgb(13, 114, 150) 32%,rgba(59, 150, 184, 0.98) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
    -webkit-box-shadow: 2px 5px 25px 0px rgba(51,51,51,0.6);
    -moz-box-shadow: 2px 5px 25px 0px rgba(51,51,51,0.6);
    box-shadow: 2px 5px 25px 0px rgba(51,51,51,0.6);
}
.headbox p {
    color: #fff;
    font-size: 16px;
    margin: 0 0 5px;
    font-weight: 600;
    line-height: 35px;
    font-family: Book Antiqua, sans-serif;
}
.fontstyle h4 {
    font-family: Book Antiqua, sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    font-size: 0px;
}
.fontstyle span {
    font-family: Book Antiqua, sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.form-control-new{
    margin-bottom: 10px;
}
.form-control-passengerdetail {
    margin-bottom: 10px;
}
.form-control-month-year {
    display: block;
    float: left;
    margin-left: 2.5px;
    width: 48%;
    height: 36px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
}