
.form-group {
    margin-bottom: 5%;
}
.form-group1 {
    margin-bottom: 20%;
}
.btn-success {
    color: #fff;
    background-color: #0076A3;
    border-color: #0076A3;
	font-size:20px;
}
.btn-success:hover {
    color: #fff;
    background-color: #0076A3;
    border-color:#0076A3;
}
.btn-success:focus {
    color: #fff;
    background-color: #0076A3;
    border-color: #0076A3;
}

.inputwidth{
	width:100%;
	}
	.btnwidth{
	width:100%;
	}
	.margn-top{
	margin-top:3%;
	}
@media only screen and (max-width: 480px) {
	.mrgnbtm {
    margin-bottom: 10%;
}
.margn-top{
	margin-top:2%;
	}
	.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #0076A3;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #0076A3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.lblfont1 {
    font-size: 16px;
    font-weight: 600;
}
	}