/**
 * FormValidation (//formvalidation.io)
 * The best jQuery plugin to validate form fields. Support Bootstrap, Foundation, Pure, SemanticUI, UIKit and custom frameworks
 *
 * @author      https://twitter.com/formvalidation
 * @copyright   (c) 2013 - 2016 Nguyen Huu Phuoc
 * @license     //formvalidation.io/license/
 */

.fv-has-feedback {
    position: relative;
}

.fv-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    text-align: center;
}

.fv-help-block {
    display: block;
}

/* Hide the clear icon for field using placeholder attribute on IE10/11 */
.fv-form [placeholder]::-ms-clear {
    display: none;
}
